body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding : 20px;
}

h1, h2, p {
  text-align: center;
}
h1 {
    font-size: 40px;
    margin: 0;
    margin-bottom: 15px;
}
h2 {
    font-size: 30px;
    margin-bottom: 0;
}
h1, h2 {
    font-family: Impact, serif;
    
}
.established {
    font-style: italic;
}
.menu {
  width: 80%;
  background-color: burlywood;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}
.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}
.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
.bottom-line {
    margin-top: 25px;
}
hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
    border-width: 1px;
    height: 5px (3px 1px);
}
/* FOOTER */
footer {
    font-size: 14px;
}
a {
    color: black;
}
a:visited {
    propertyName: Visit our website;
    color: black;
}
a:hover {
    propertyName: Visit our website;
    color: brown;
}
a:active {
    propertyName: Visit our website;
    color: brown;
}
.address {
    margin-bottom: 5px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -25px;
}