body {
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}
#navbar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 20px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid #ccc;
}
#navbar header {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.nav-link {
    display: block;;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    padding: 5px;
    border-radius: 4px;
} 
.nav-link:hover {
    background-color: #ddd;
}
#main-doc {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
    overflow-y: auto;
}
.main-section {
    margin-bottom: 40px;
}
.main-section header {
    font-size: 1.8rem;
    margin-bottom: 15px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}
p {
    line-height: 1.6;
    margin-bottom: 15px;
}
code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: monospace;
}
ul ,ol {
    margin-left: 20px;
}
li {
    margin-bottom: 5px;
}
@media (max-width: 780px) {
    #main-doc {
        margin-left: 0;
    }
}